body {
  margin-inline: 1rem;
  padding:0;
  font-family: 'Quicksand';
  color: rgb(73, 68, 61);
  background-color: rgb(95, 74, 50);
}
h1 {
  color: rgb(235, 226, 221);
  font-weight: 300;
}
h2 {
  font-size: 3rem;
}
.container{ 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap:1rem;
  margin: 0 auto;
}
.card {
  display: flex;
  justify-content: space-around;
  background-color: rgb(235, 226, 221);
  border-radius: 30px;
  padding: 1rem;
  max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}
.card img {
  height: 100%;
  height: clamp(250px, 25vw, 300px);
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 0.5rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 1rem;
}
.button {
  font-size: 1rem;
  border-radius: 50px;
  padding-inline: 20px;
  padding-block: 10px;
  color: rgb(235, 226, 221);
  border: none;
  background-color: rgb(50, 95, 67);
  font-weight: 500;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  transform: scale(1.05);
}
.card:hover {
  transform: scale(1.02);
box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}