body {
  background-color: rgb(94, 79, 75);
  font-family: 'Quicksand';
  padding: 0;
  margin: 2rem;
  color: rgb(71, 71, 71);
}
h1 {
  font-weight: 400;
  color: rgb(221, 221, 221);
}
.button-container {
  display: flex;
  justify-content: center;
}
.button {
  padding-inline: 20px;
  padding-block: 10px;
  background-color: rgb(0, 139, 204);
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 1rem;

}
.container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  padding: 1rem;
  max-width: 1500px;
  margin: 0 auto;
}
.card {
  background-color: rgb(225, 230, 235);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;


}
.card img {
  width: 100%;
  height: clamp(180px, 25vw, 300px);
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 0.5rem;
}
.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  transform: scale(1.05);
}
.card:hover {
transform: scale(1.02);
box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

@media (min-width: 768px) {
  .container {
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4, 1fr);
  }

}
@media (min-width: 1040px) {
  .container {
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:3rem;
  }

}